.banner {
  display: flex;
  flex-direction: row; /* Align children horizontally */
  align-items: flex-start; /* Align children at the top */
  justify-content: flex-start; /* Align children to the left */
  width: 100%; /* Full width of the viewport */
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-right: 1rem; /* Space between title and description */
}

.description {
  text-align: center;
  font-size: 1.2rem;
}
